In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('employeeData.csv')

In [3]:
data.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [4]:
data.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [5]:
missing=data.isnull().sum()
print(missing)

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [6]:
dataShape=data.shape
dataSize=data.size
print("data shape is ",dataShape)
print("data size is ",dataSize)
data.dtypes

data shape is  (1470, 35)
data size is  51450

Age                          int64
Attrition                   object
BusinessTravel              object
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                      object
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
Over18                      object
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [9]:
X = data[['Age', 'MonthlyIncome']]  
y = data['PerformanceRating']

LOGISTIC REGRESSION

In [11]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
log_reg = LogisticRegression()
log_reg.fit(X_train, y_train)
y_pred = log_reg.predict(X_test)
print(accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

0.8537414965986394
              precision    recall  f1-score   support

           3       0.85      1.00      0.92       251
           4       0.00      0.00      0.00        43

    accuracy                           0.85       294
   macro avg       0.43      0.50      0.46       294
weighted avg       0.73      0.85      0.79       294

C:\Users\Ntando\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\Users\Ntando\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\Users\Ntando\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

The model's accuracy is 0.85 (85%), meaning it predicted whether the employee would withdraw funds in 85% of the cases.

FORECASTING

In [21]:
data2=pd.read_csv('payroll.csv')
data2.shape

C:\Users\Ntando\AppData\Local\Temp\ipykernel_13132\1623963917.py:1: DtypeWarning: Columns (0,8) have mixed types. Specify dtype option on import or set low_memory=False.
  data2=pd.read_csv('payroll.csv')

(685461, 18)

In [22]:
data2.columns

Index(['RECORD_NBR', 'PAY_YEAR', 'DEPARTMENT_NO', 'DEPARTMENT_TITLE',
       'JOB_CLASS_PGRADE', 'JOB_TITLE', 'EMPLOYMENT_TYPE', 'JOB_STATUS', 'MOU',
       'MOU_TITLE', 'REGULAR_PAY', 'OVERTIME_PAY', 'ALL_OTHER_PAY',
       'TOTAL_PAY', 'CITY_RETIREMENT_CONTRIBUTIONS', 'BENEFIT_PAY', 'GENDER',
       'ETHNICITY'],
      dtype='object')

In [23]:
data2.head()

,RECORD_NBR,PAY_YEAR,DEPARTMENT_NO,DEPARTMENT_TITLE,JOB_CLASS_PGRADE,JOB_TITLE,EMPLOYMENT_TYPE,JOB_STATUS,MOU,MOU_TITLE,REGULAR_PAY,OVERTIME_PAY,ALL_OTHER_PAY,TOTAL_PAY,CITY_RETIREMENT_CONTRIBUTIONS,BENEFIT_PAY,GENDER,ETHNICITY
0,303030303632,2017,98,WATER AND POWER,3156-5,CUSTODIAN,FULL_TIME,ACTIVE,8,OPERATING MAINTENANCE AND SERVICE UNIT,55725.24,4785.05,2021.84,62532.13,3678.0,23508.9,FEMALE,HISPANIC
1,3030303036,2017,98,WATER AND POWER,9105-5,UTILITY ADMINISTRATOR,FULL_TIME,ACTIVE,M,MANAGEMENT EMPLOYEES UNIT,139174.88,16340.50,6170.49,161685.87,9186.0,23508.9,FEMALE,ASIAN AMERICAN
2,303030313232,2017,98,WATER AND POWER,9602-4,WATER SERVICES MANAGER,FULL_TIME,ACTIVE,M,MANAGEMENT EMPLOYEES UNIT,245879.12,0.00,12504.30,258383.42,16228.0,23508.9,MALE,BLACK
3,303030313632,2017,98,WATER AND POWER,5885-5,WTR TRTMT OPR,FULL_TIME,ACTIVE,6,STEAM PLANT AND WATER SUPPLY UNIT,101494.34,7824.99,12630.52,121949.85,6699.0,23508.9,MALE,ASIAN AMERICAN
4,303030323632,2017,98,WATER AND POWER,3841-5,ELTL MCHC,FULL_TIME,ACTIVE,8,OPERATING MAINTENANCE AND SERVICE UNIT,101345.12,22284.37,1566.75,125196.24,6689.0,23508.9,MALE,HISPANIC

In [24]:
missing_values=data2.isnull().sum()
print(missing_values)

RECORD_NBR                          0
PAY_YEAR                            0
DEPARTMENT_NO                       0
DEPARTMENT_TITLE                    0
JOB_CLASS_PGRADE                  542
JOB_TITLE                         542
EMPLOYMENT_TYPE                     0
JOB_STATUS                          0
MOU                               684
MOU_TITLE                         749
REGULAR_PAY                         0
OVERTIME_PAY                      434
ALL_OTHER_PAY                     434
TOTAL_PAY                           0
CITY_RETIREMENT_CONTRIBUTIONS       0
BENEFIT_PAY                         0
GENDER                           3861
ETHNICITY                        4212
dtype: int64

In [26]:
# deleting rows with null values because we don't now the data to be filled and we cannot just leave it empty
rows_to_drop=data2.dropna()
print(rows_to_drop)

          RECORD_NBR  PAY_YEAR  DEPARTMENT_NO     DEPARTMENT_TITLE  \
0       303030303632      2017             98      WATER AND POWER
1         3030303036      2017             98      WATER AND POWER
2       303030313232      2017             98      WATER AND POWER
3       303030313632      2017             98      WATER AND POWER
4       303030323632      2017             98      WATER AND POWER
...              ...       ...            ...                  ...
685456  393936353833      2022             43  LOS ANGELES HOUSING
685457    3939393534      2022             42               HARBOR
685458    3939393535      2022              4             AIRPORTS
685459  393939353733      2022             70               POLICE
685460  393939353933      2022             70               POLICE

       JOB_CLASS_PGRADE               JOB_TITLE EMPLOYMENT_TYPE JOB_STATUS  \
0                3156-5               CUSTODIAN       FULL_TIME     ACTIVE
1                9105-5   UTILITY ADMINISTRATOR       FULL_TIME     ACTIVE
2                9602-4  WATER SERVICES MANAGER       FULL_TIME     ACTIVE
3                5885-5           WTR TRTMT OPR       FULL_TIME     ACTIVE
4                3841-5               ELTL MCHC       FULL_TIME     ACTIVE
...                 ...                     ...             ...        ...
685456           1223-0        ACCOUNTING CLERK       PART_TIME     ACTIVE
685457           9485-0   SENIOR CIVIL ENGINEER       FULL_TIME     ACTIVE
685458           3181-0        SECURITY OFFICER       FULL_TIME     ACTIVE
685459           2214-2       POLICE OFFICER II       FULL_TIME     ACTIVE
685460           3711-5      EQUIPMENT MECHANIC       FULL_TIME     ACTIVE

         MOU                                          MOU_TITLE  REGULAR_PAY  \
0          8             OPERATING MAINTENANCE AND SERVICE UNIT     55725.24
1          M                          MANAGEMENT EMPLOYEES UNIT    139174.88
2          M                          MANAGEMENT EMPLOYEES UNIT    245879.12
3          6                  STEAM PLANT AND WATER SUPPLY UNIT    101494.34
4          8             OPERATING MAINTENANCE AND SERVICE UNIT    101345.12
...      ...                                                ...          ...
685456   3.0                                           CLERICAL     12205.87
685457  17.0  SUPERVISORY PROFESSIONAL ENGINEERING AND SCIEN...     69062.40
685458  18.0                                  SAFETY / SECURITY     32927.90
685459  24.0              POLICE OFFICERS, LIEUTENANT AND BELOW     39156.66
685460  14.0                                  SERVICE AND CRAFT     40299.31

        OVERTIME_PAY  ALL_OTHER_PAY  TOTAL_PAY  CITY_RETIREMENT_CONTRIBUTIONS  \
0            4785.05        2021.84   62532.13                        3678.00
1           16340.50        6170.49  161685.87                        9186.00
2               0.00       12504.30  258383.42                       16228.00
3            7824.99       12630.52  121949.85                        6699.00
4           22284.37        1566.75  125196.24                        6689.00
...              ...            ...        ...                            ...
685456          0.00         500.00   12705.87                           0.00
685457          0.00        9193.85   78256.25                       20483.91
685458       4855.63        2533.37   40316.90                        9766.42
685459       4978.06        3480.00   47614.72                       17918.27
685460       5438.40        3830.20   49567.91                       11952.78

        BENEFIT_PAY  GENDER       ETHNICITY
0          23508.90  FEMALE        HISPANIC
1          23508.90  FEMALE  ASIAN AMERICAN
2          23508.90    MALE           BLACK
3          23508.90    MALE  ASIAN AMERICAN
4          23508.90    MALE        HISPANIC
...             ...     ...             ...
685456         0.00  FEMALE           ASIAN
685457     10317.36    MALE        HISPANIC
685458      4166.52    MALE       CAUCASIAN
685459      7793.89    MALE           ASIAN
685460      8000.64    MALE        HISPANIC

[680433 rows x 18 columns]

In [19]:
from prophet import Prophet
from prophet.plot import plot_plotly

In [20]:
data2.columns=['ds','y']
model=Prophet()
model.fit(data)

ValueError: Length mismatch: Expected axis has 18 elements, new values have 2 elements

I tried using ARIMA and Facebook's Prophet library for time series forecasting on the found dataset. However, upon examining the data, I discovered that it is not continuous, which poses significant challenges for using Prophet or ARIMA.

This dataset contains employees and their information from their Department and employee type for a single year which is 2017. This inconsistency makes it difficult to apply Prophet's default settings, which assume a continuous and regularly spaced time series.

Prophet and ARIMA requires a continuous and evenly spaced time series to accurately model and forecast trends, seasonality, and anomalies.

SENTIMENT ANALYSIS

After data has been collected, I will start to preprocess the data. From cleaning it to tokenization. A sentiment Analysis method I would choose is Machine Learning approach then train a classifier using features derived from the text.

I will continue to train the model and split the data into training and test sets. There will be a sentiment scoring after that that will categorize from positive, negative or neutral. I will then analyze the results to determine the accuracy of the categorization. Continue to summarize the findings using visual aids like pie charts of bar graphs. I can then continuously monitor the feedback to refine the model periodically.